{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/bytes
  {:git/url "https://github.com/nuid/bytes.git",
   :sha "3c3e37b94bb9161cc55986e3f5c22030c7f6f435"}},
 :aliases
 {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}}},
 :paths ["src"]}
