{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/alpha.spec
  {:git/url "https://github.com/clojure/spec-alpha2",
   :sha "8a5f96513582343c68e64686e2f0bd2c44adbe94"},
  nuid/bytes
  {:git/url "https://github.com/nuid/bytes.git",
   :sha "d4bbf0382fc404c525064a845892996a95cad7dd"}},
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.597"},
    org.clojure/spec.alpha {:mvn/version "0.2.176"},
    thheller/shadow-cljs {:mvn/version "2.8.83"}}}},
 :paths ["src"]}
