{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/clojure {:mvn/version "1.10.0"},
  nuid/bytes
  {:git/url "git@github.com:nuid/bytes.git",
   :sha "7686a9febda17fc6b367b692fad1af5dd7ce115d"}},
 :aliases
 {:cljfmt
  {:extra-deps
   {com.jameslaverack/cljfmt-runner
    {:git/url "https://github.com/JamesLaverack/cljfmt-runner",
     :sha "97960e9a6464935534b5a6bab529e063d0027128"}},
   :main-opts ["-m" "cljfmt-runner.check"]},
  :cljfmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]},
  :depot
  {:extra-deps {olical/depot {:mvn/version "1.8.2"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :depot/update {:main-opts ["-m" "depot.outdated.main --update"]},
  :repl
  {:extra-deps
   {nuid/deps
    {:git/url "git@github.com:nuid/deps.git",
     :sha "858ceadf16e1e84ca2d66abfdd36002cb058af15"}}}},
 :paths ["src"]}
